/*mettre des image par cat et rajouter des border radius*/
body{
    background-color: rgb(0, 153, 204);
}
img{
    border-radius: 15px;
}
h1{
    display: flex;
    align-items: center;
    color: #F2F2F2;
}
.menu {
    background: rgb(0, 153, 204);
    color: #FFF;
    height: 80px;
    padding-left: 18px;
    width: auto;
}
.menu ul, .menu li {
    margin: 0 auto;
    padding: 0;
    list-style: none
}
.menu ul {
    width: 100%;
}
.menu li {
    float: left;
    display: inline;
    position: relative;
}
.menu a {
    display: block;
    line-height: 80px;
    padding: 0 14px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
}
.menu a.casesousmenu:after {
    content: "\25BE";
    margin-left: 5px;
}
.menu li a:hover {
    color: #0099CC;
    background: #F2F2F2;
}
.menu input {
    display: none;
    margin: 0;
    padding: 0;
    height: 80px;
    width: 100%;
    opacity: 0;
    cursor: pointer
}


.menu ul.sousmenu{
    height: auto;
    overflow: hidden;
    width: 170px;
    background: #0099CC;
    position: absolute;
    z-index: 99;
    display: none;
}
.menu ul.sousmenu li {
    display: block;
    width: 100%;
}
.menu ul.sousmenu a {
    color: #FFFFFF;
    font-size: 16px;
}
.menu li:hover ul.sousmenu {
    display: block
}
.menu ul.sub-menus a:hover{
    background: #F2F2F2;
    color: #0099CC;
}
@media screen and (max-width: 800px){
    .menu {position:relative}
    .menu ul {background:#111;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none}
    .menu ul.sousmenu {width:100%;position:static;}
    .menu ul.sousmenu a {padding-left:30px;}
    .menu li {display:block;float:none;width:auto;}
    .menu input {position:absolute;top:0;left:0;display:block}
    .menu input {z-index:4}
    .menu input:checked {color:white}
    .menu input:checked {content:"\00d7"}
    .menu input:checked ~ ul {display:block}
}
.paragraph1{
    border-radius: 30px;
}
.border{
   background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    margin: 15px;
    
}
.sous-titre{
    color: #F2F2F2;
}
*{
    font-family: 'Patrick Hand', cursive;
}
